body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#calculator{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
    border-radius: 25px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color:hsl(0, 0%, 20%);
    color: wheat;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(90, 201, 130);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}
button:hover{
    background-color: rgb(90, 201, 145);  
}
button:active{
    background-color: rgb(90, 201, 165);  
}
.operator{
    background-color: brown;

}
.operator:hover{
    background-color: hsl(0, 59%, 60%);
}
.operator:active{
    background-color:hsl(0, 59%, 60%);
}


